@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background:gainsboro;
  background-size: 400% 400%;
  animation: gradientAnimation 4s ease infinite;
  color: white; /* Ensures readability */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}


